@import '_vars';

.modal {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: grid;
    place-items: center;
}

.modal-content {
    align-items: center;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    position: relative;
    width: 40%;
}

.modal-content__close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}


@media (max-width: 900px) {
    .modal-content {
        width: 80%;
        width: 60%;
    }
}

@media (max-width: 580px) {
    .modal-content {
        width: 90%;
    }
}